.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    background-color: white;
}

.app-name {
    margin-right: auto;
}

h1 {
    font-size: 32px;
    font-weight: 900;
}

.navbar a:not(.app-name) {
    border-bottom: 1.5px solid transparent;
    transition: border-color 0.3s ease;
    
}

.navbar a:not(.app-name):hover {
    border-bottom-color: black;
    box-shadow: 0px 0.5px 0px 0px rgba(0,0,0,0.15);
}