.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #D5F3D9;
    margin: 0 10em;
    border-radius: 20px;
    height: 100vh;
    margin: 0 10vw;
} 

.login-form{
    width: 30vw;
    background: white;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.login-form .textarea {
    resize: none;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 1em;
    border: none;
}

#signin-btn {
    background-color: #2F4858;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}