body {
  margin: 0;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 550;
}

h5{
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  display: none;
}



.separator {
    width: 100%;
    height: 24px;
    background-color: white;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.sidebar-left {
  grid-area: Lsidebar;
}
.sidebar-right {
  grid-area: Rsidebar;
}

.footer {
  padding: 40px;
  grid-area: footer;
  background-color: #2F4858;
  color: white;
}

.content{
  grid-area: content;
}



#open-modal-btn {
  padding: 10px 30px;
  font-weight: bold;
}


.new-deck-card h2{
  text-align: center;
}

.icon {
  cursor: pointer;
  font-size: 22px;
  margin-right: 10px;
  transition: 0.2s;
}

.icon.edit,
.icon.delete{
  color: linear-gradient(135deg, #CB3CFF, #7E24FB);
}

.icon:hover:not(.icon.none, .icon.save) {
  transform: scale(1.2);
}

.icon.edit:hover {
  color: #4fc3f7;
}

.icon.delete:hover {
  color: #ff5252;
}

.icon.save {
  color: #52ff61;
  
}

.icon.none,
.icon.delete {
  color: #AEB9E1;
  padding: 0 2px;
}

.save-placeholder {
  box-shadow: none;
}

.deck-title{
  -webkit-line-clamp: 2;
}

.deck-description{
  -webkit-line-clamp: 4; 
}



.add-card {
  display: flex;
  gap: 10px
}

#add-card-btn {
  width: 100%;
}

#add-card-btn,
#edit-card-btn,
#study-btn {
  padding: 20px 0;
  background-color: #0B1738;
  border: 0;
  color: #AEB9E1;
  border-radius: 12px;
  cursor: pointer;
}

#edit-card-btn {

}

#study-btn {
  padding: 0 20px;
  background: #CB3CFF;
  color: white;
}

#study-btn:hover {
  background-color: #7E24FB;
}


button {   
    transition: all 0.25s ease;
}

button:hover:not(:disabled) {
  transform: translateY(-2px);
}


.edit-card-form{
  display: flex;
  flex-direction: row;
  gap: 20px
}

.edit-card-form > div:not(.controls) {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.edit-card-form h4{
  font-weight: bold;
}

.edit-card-form button {
  border: none;
  background: none;
  margin-right: none;
  text-align: right;
}

.error {
  font-size: 12px;
  padding-bottom: 10px;
  color: red;
}

.edit-card-form > div:last-child {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.icon.save,
.icon.none {
  margin: 0;
}

button{
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}



dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

dialog h3, h4 {
  color:black;
  margin: 10px 0px;
}

dialog h3 {
  font-weight: 700;
}

dialog h4 {
  font-weight: 600;
} 
dialog textarea {
  font-weight: normal;
}

dialog {
  border-radius: 12px;
  background-color: white;
  border: none;
}

dialog button{
  border: none;
  padding: 10px 0;
}

.deck-form, .card-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.deck-form > button, 
.card-form > button{
  margin-top: 15px;
}

.deck-form > button:hover, 
.card-form > button:hover,
.add-deck-btn button:hover{
  color: white;
  background-color: #2F4858;
}

#close-modal-btn{
  margin-top: 15px;
  background: #BED3FF;
  color: #4E86FF;
  padding: 5px 10px;
  border-radius: 16px;
  border: #4E86FF solid 2px;
}

.icon.close {
  color: #AEB9E1;
}

.add-card > button:hover:not(#study-btn) {
  color: #091028;
  background-color: #AEB9E1;
}