body {
  margin: 0;
  background-color: #091028;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 550;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  padding: 10px;
  border-bottom: solid #0B1738 0.5px;
}

.app-name {
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}
.app-name:hover {
  transform: scale(1.05);
}

::-webkit-scrollbar {
  display: none;
}

.home-page {
  display: grid;
  grid-template-rows: minmax(1920px, auto) 1fr;
  grid-template-columns: 0.6fr 2fr 0.5fr;
  grid-template-areas: 
    "Lsidebar content Rsidebar"
    "footer footer footer";
}

.deck-page {
  display: grid;
  grid-template-rows: minmax(920px, auto) 1fr;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-areas: 
    "Lsidebar content Rsidebar"
    "footer footer footer";
}

.sidebar-left {
  grid-area: Lsidebar;
}
.sidebar-right {
  grid-area: Rsidebar;
}

.footer {
  padding: 100px;
  grid-area: footer;
}

.content{
  grid-area: content;
}

.all-decks-label{
  padding-left: 20px;
}

.decks {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
  
}

.decks > div {
  position: relative;
  padding: 10px;
  background-color: #0B1738;
  aspect-ratio: 1 / 1;
  min-width: 0;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.decks p {
  color: #AEB9E1;
  font-size: 12px;
}

p{
  color: #AEB9E1;
}

.decks > div:not(.new-deck-card)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 6px;
  background: linear-gradient(135deg, #CB3CFF, #7E24FB);
  transition: width 0.3s ease-out;
  
}

.decks > div:hover::before {
  width: 100%;
}

.decks > div:hover::before {
  height: 10px;
}

.new-deck-card {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}

.add-deck-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#open-modal-btn {
  padding: 10px 30px;
  font-weight: bold;
}


.new-deck-card h2{
  text-align: center;
}

.icon {
  cursor: pointer;
  font-size: 22px;
  margin-right: 10px;
  transition: 0.2s;
}

.icon.edit,
.icon.delete{
  color: linear-gradient(135deg, #CB3CFF, #7E24FB);
}

.icon:hover:not(.icon.none){
  transform: scale(1.2);
}

.icon.edit:hover {
  color: #4fc3f7;
}

.icon.delete:hover {
  color: #ff5252;
}

.icon.save {
  color: #52ff61;
}

.icon.none,
.icon.delete {
  color: #AEB9E1;
}

.deck-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deck-details p{
  margin: 0;
}

.deck-details h4{
  font-size: 0.9rem;
  margin: 16px 0 0 0;
  min-height: calc(1.2em * 2);
  line-height: 1.2;
}

.card-actions {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.add-card {
  display: flex;
  gap: 10px
}

#add-card-btn {
  width: 100%;
}

#add-card-btn,
#edit-card-btn,
#study-btn {
  padding: 20px 0;
  background-color: #0B1738;
  border: 0;
  color: #AEB9E1;
  border-radius: 12px;
  cursor: pointer;
}

#edit-card-btn {

}

#study-btn {
  padding: 0 20px;
  background: #CB3CFF;
  color: white;
}

#study-btn:hover {
  background-color: #7E24FB;
}

.cards-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.card-details {
  padding: 20px;
  background-color: #0B1738;
  border-radius: 12px;
}

.edit-card-form{
  display: flex;
  flex-direction: row;
  gap: 20px
}

.edit-card-form > div:not(.controls) {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.edit-card-form h4{
  font-weight: bold;
}

.edit-card-form button {
  border: none;
  background: none;
  margin-right: none;
  text-align: right;
}

.error {
  font-size: 12px;
  padding-bottom: 10px;
  color: red;
}

.edit-card-form > div:last-child {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.icon.save,
.icon.none {
  margin: 0;
}

textarea {
  font: inherit;
  font-weight: bold;
  font-size: 16px;
  resize: none;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #091028;
  color: white;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
}
.extras {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.extras button{
  border: none;
  background: #AEB9E1;
  color: #091028;
  border-radius: 8px;
}

button{
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.extras button:disabled {
  background: #0B1738;
}

.extras button:hover {
  background: #30333e;
}

.flashcard-details {
  background-color: #0B1738;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 15px;
}

.back-btn{
  display: flex;
  justify-content: end;
}

.back-btn button{
  background: #CB3CFF;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
}

.back-btn button:hover{
  background: #7E24FB;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

dialog h3, h4 {
  color: white;
}

dialog textarea {
  font-weight: normal;
}

dialog {
  border-radius: 12px;
  background-color: #0B1738;
  border: none;
}

dialog button{
  border: none;
  padding: 10px 0;
}

.deck-form, .card-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.deck-form > button, 
.card-form > button{
  margin-top: 15px;
}

.deck-form > button:hover, 
.card-form > button:hover,
.add-deck-btn button:hover{
  color: white;
  background-color: #CB3CFF;
}

#close-modal-btn{
  background: none;
}

.icon.close {
  color: #AEB9E1;
}
